@main-color: #7C8BAD;
@secondary-color: #80B7DD;
@text-color: #8C8EB2;
@link-color: #333;
@link-hover-color: #CEDBF5;
@white: #FFFFFF;
@mobile-small: ~"(min-width: 320px) and (max-width: 375px)";
@mobile-medium: ~"(min-width: 376px) and (max-width: 414px)";
@mobile-large: ~"(min-width: 415px) and (max-width: 480px)";
@tablet-small: ~"(min-width: 481px) and (max-width: 768px)";
@tablet-large: ~"(min-width: 769px) and (max-width: 1024px)";
@laptop: ~"(min-width: 1025px) and (max-width: 1280px)";

body {
    margin-left: 5%;
    margin-top: 4%;
}

.form-entry {
    font-family: 'BeatriceRegular';
    padding: 2px;
}

.required {
    font-family: 'AcuminProMediumItalic';
}

.buttons #SubmitForm {
    margin-right: 10%;
}