@font-face {
    font-family: 'AcuminProItalic';
    src: url('./Fonts/Acumin_Pro_Italic/Acumin_Pro_Italic.otf') format('embedded-opentype'),
         url('./Fonts/Acumin_Pro_Italic/Acumin_Pro_Italic.woff2') format('woff2'),
         url('./Fonts/Acumin_Pro_Italic/Acumin_Pro_Italic.woff') format('woff'),
         url('./Fonts/Acumin_Pro_Italic/Acumin_Pro_Italic.ttf') format('truetype');
}

/* Font imports for Beatrice Regular */
@font-face {
    font-family: 'BeatriceRegular';
    src: url('./Fonts/Beatrice_Regular/Beatrice_Regular.otf') format('embedded-opentype'),
         url('./Fonts/Beatrice_Regular/Beatrice_Regular.woff2') format('woff2'),
         url('./Fonts/Beatrice_Regular/Beatrice_Regular.woff') format('woff'),
         url('./Fonts/Beatrice_Regular/Beatrice_Regular.ttf') format('truetype');
}

/* Font imports for Moneta Bold */
@font-face {
    font-family: 'MonetaBold';
    src: url('./Fonts/Moneta_Bold/Moneta_Bold.otf') format('embedded-opentype'),
         url('./Fonts/Moneta_Bold/Moneta_Bold.woff2') format('woff2'),
         url('./Fonts/Moneta_Bold/Moneta_Bold.woff') format('woff'),
         url('./Fonts/Moneta_Bold/Moneta_Bold.ttf') format('truetype');
}

/* This is where we define the CSS fonts as global variables to be referenced later */
:root {
    --primary-color-white: #FFFFFF;
    --primary-color-grey: #7C8BAD;
    --primary-color-blue: #80B7DD;

    --secondary-color-glaucous: #5E82B1;
    --secondary-color-lavender: #CEDBF5;
    --secondary-color-blue: #ADE6FE;

    --font-acumin-pro-italic: 'AcuminProItalic';
    --font-beatrice-regular: 'BeatriceRegular';
    --font-moneta-bold: 'MonetaBold';
}